<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="E2Charts.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <E2Charts.Properties.Settings>
      <setting name="StorygraphVerticalTicks" serializeAs="String">
        <value>12</value>
      </setting>
      <setting name="StorygraphHorizontalTicks" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="StorygraphTickLength" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="StorygraphFontSize" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="StorygraphFontPadding" serializeAs="String">
        <value>12</value>
      </setting>
      <setting name="StorygraphLatitudeName" serializeAs="String">
        <value>Lat</value>
      </setting>
      <setting name="StorygraphLongitudeName" serializeAs="String">
        <value>Lng</value>
      </setting>
      <setting name="StorygraphDateName" serializeAs="String">
        <value>Date</value>
      </setting>
      <setting name="StorygraphColorName" serializeAs="String">
        <value>Color</value>
      </setting>
      <setting name="StorygraphLabelName" serializeAs="String">
        <value>Label</value>
      </setting>
      <setting name="TimelineVerticalTicks" serializeAs="String">
        <value>5</value>
      </setting>
    </E2Charts.Properties.Settings>
  </applicationSettings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/>
  </startup>
</configuration>
